body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #bd0f32, #fffffff2);
    color: #000000;
}

body.modo-escuro {
    background-image: linear-gradient(to bottom, #2b2b2b, #635c01f2);
    color: #000000
}

header {
    display: flex;
    justify-content: space-between;
    border-width:10px;
    border-radius: 10px;
}

header .logo,
header .imagem-botao {
    width: 50px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header #logo-pokebola {
    background: none;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .cartao-pokemon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    padding: 15px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #c9c9c9;
    width: 390px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #e05e5e;
}

.modo-escuro .cartao-pokemon:hover {
    background-color: #4d4d4d;
}

.modo-escuro .cartao-pokemon {
    background-color: #86740e;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 3px solid #e07272;
    border-radius: 10px;
}

.modo-escuro .cartao-pokemon .informacoes{
    border: 3px solid #2b2b2b;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    font-smooth: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 10px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

main .descricao {
    max-height: 80px;
    overflow: hidden;
    padding: 10px;
}